
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/profile.css" rel="stylesheet">

<script>
	Holder.addTheme("purple", {
		bg: "#B586D2",
		fg: "#fff",
		size: 11,
		font: "Monaco",
		fontweight: "normal"
	});
</script>

<header class="alpha">
	<p class="title alpha prof-logo">Clarify</p>
	<p id="user"> {{{ username }}}  </p>
</header>

<div class="prof-container">
	<div class="prof-add alpha">
		<div>
			<p class="prof-title alpha">Join New Presentation</p>
			<p>Enter Access Code</p>
			<section class="global">
				<input type="text" class="prof-text" name="groupCode">
				<button type="submit" class="prof-btn">Join</button>
			<section>
		</div>
		<div>
			<p class="prof-title alpha">Create New Presentation</p>
			<p>Upload New Presentation</p>
			<button type="submit" class="prof-btn" onclick="window.location.href='/create';">Create</button>
		</div>
	</div>
<hr>
	<section class="my-presentation">
		<p class="prof-title alpha">Your Presentations</p>
		<ul class="thumbnails">

			{{ fillWhenEmpty }}

			{{#each createdPresentations}}

			<li class="span4">
				<div class="thumbnail">
					<img src="holder.js/300x200?theme=purple" alt="">
					<div class="detail">
						<h3 class="alpha">{{ this.name }}</h3>
						<p class="beta">{{ this.caption }}</p>
					</div>
				</div>
			</li>

			{{/each}}
		</ul>
	</section>

<hr>

	<section class="joined-presentation">
		<p class="prof-title alpha">Joined Presentations</p>
		<ul class="thumbnails">

			{{#each joinedPresentations}}

			<li class="span4">
				<div class="thumbnail">
					<img src="holder.js/300x200?theme=purple" alt="">
					<div class="detail">
						<h3 class="alpha">{{ this.name }}</h3>
						<p class="beta">{{ this.caption }}</p>
					</div>
				</div>
			</li>

			{{/each}}

		</ul>
	</section>

</div>
